@charset "UTF-8";

#lecture_add {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
  width: calc(100% - 200px);
}

table th {
  background: #f1f1f1;
}

#lecture_add tr {
  border: 1px solid #f1f1f1;
  line-height: 35px;
}

#lecture_add th {
  width: 150px;
  background: #f1f1f1;
  padding-left: 8px;
}

#lecture_add td {
  border: 1px solid #f1f1f1;
  padding-left: 5px;
  line-height: auto;
}

#lecture_add input {
  height: 25px;
  width: 120px;
}

#lecture_add input.checkbox {
  width: 20px;
  top: -5px;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}


#lecture_add select {
  height: 25px;
  width: 110px;
}

/* custom */
#lecture_add input.title {
  width: 250px;
}

#lecture_add input.number {
  width: 100px;
}
#lecture_add input.price {
  width: 150px;
}

/* 등록버튼 */
button.submit {
  width: 100px;
  height: 35px;
}

button.submit span {
  font-size: 16px;
}
